{% extends "base.html" %}
{% block sidebar %}
{% endblock %}
{% block main_page %}
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="401">NO PUEDES ENTRAR ACA</div>
                        <p class="lead text-gray-800 mb-5">Sin autorizacion</p>
                        <p class="text-gray-500 mb-0">Parece que intentas acceder a una pagina fuera de tus permisos...</p>
                        <a href="{% url 'home' %}">&larr; Llevame al inicio</a>
                    </div>

                </div>
{% endblock %}